<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>XDSEC 周报平台</title>
        <style type='text/css'>
            td{
              padding: 0;
            }

            .td_a{
              height: 100%;
              width: 100%;
              display: block;
              border:  5px solid black;
            }
        </style>
    </head>
    <body>
        <h1 align="center" onclick=javascript:location.href='/manage_info'>XDSEC 周报平台</h1>
        <p align="center" style="border:0px;margin:0">
        <span style="float:left"><a href='index'>周报索引</a>&nbsp;&nbsp;&nbsp;</span>
        <span style="float:right"><a href='submit'>提交周报</a></span>
        </p>
        <br />
        <hr />
        <table border=1px align="center">
            <caption>周报索引</caption>
            <tr>
                <th>昵称</th>
                <th>方向</th>
                <th>年级</th>
                {% for week in recent_weeks %}
                <th width=110 style="cursor:pointer" onclick="location.href='/view/week/{{week}}'">第{{week}}周</th>
                {% endfor %}
            </tr>
            {% for user in users_report_stat %}
            <tr>
                <td style="cursor:pointer" onclick="location.href='/view/user/{{user.info.id}}'">{{user.info.name}}</td>
                <td>{{user.info.direction}}</td>
                <td>{{user.info.level}}</td>
                {% for report_week in user.stat %}
                    {% if report_week %}
                    <td bgcolor='green' style="cursor:pointer" onclick="location.href='/view/user/{{user.info.id}}/{{report_week}}'"></td>
                    {% else %}
                <td bgcolor='gray'></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
