<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>XDSEC 周报平台</title>
        <style type='text/css'>
            td{
              padding: 0;
            }

            .td_a{
              height: 100%;
              width: 100%;
              display: block;
              border:  5px solid black;
            }
        </style>
    </head>
    <body>
        <h1 align="center">XDSEC 周报平台</h1>
        <p align="center" style="border:0px;margin:0">
        <span style="float:left"><a href='index'>周报索引</a>&nbsp;&nbsp;&nbsp;</span>
        </p>
        <br />
        <hr />
        <table border=1px align="center">
            <caption>信息管理</caption>
            <tr>
                <th>昵称</th>
                <th>方向</th>
                <th>年级</th>
                <th>禁用</th>
                <th>隐藏</th>
                <th>admin</th>
                <th>修改</th>
            </tr>
            {% for user in users_report_stat %}
            <tr>
                <td style="cursor:pointer" onclick="location.href='/view/user/{{user.id}}'">{{user.name}}</td>
                <td>{{user.direction}}</td>
                <td>{{user.level}}</td>
                <td>{{user.is_banned}}</td>
                <td>{{user.is_hidden}}</td>
                <td>{{user.is_admin}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
