<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>XDSEC 周报平台</title>
        <style type='text/css'>
            td{
              padding: 0;
            }

            .td_a{
              height: 100%;
              width: 100%;
              display: block;
              border:  5px solid black;
            }
            #dialog{
                z-index:99;
                position: absolute;
                left:550px;
                top:300px;
                background-color: #ccc;
                padding:20px;
                border:2px solid #000;
                display:none;
            }
        </style>
    </head>
    <body>
        <h1 align="center">XDSEC 周报平台</h1>
        <p align="center" style="border:0px;margin:0">
        <span style="float:left"><a href='index'>周报索引</a>&nbsp;&nbsp;&nbsp;</span>
        </p>
        <br />
        <hr />
        <table border=1px align="center">
            <caption>信息管理</caption>
            <tr>
                <th>昵称</th>
                <th>方向</th>
                <th>年级</th>
                <th>口令</th>
                <th>禁用</th>
                <th>隐藏</th>
                <th>管理</th>
                <th>修改</th>
            </tr>
            <tr><td id='add' colspan=8 bgcolor='green' style="cursor:pointer" align=center>增加一项</td></tr>
            {% for user in users%}
            <tr>
                <td hidden>{{user.id}}</td>
                <td style="cursor:pointer" onclick="location.href='/view/user/{{user.id}}'">{{user.name}}</td>
                <td>{{user.direction}}</td>
                <td>{{user.level}}</td>
                <td>{{user.token}}</td>
                {% if user.is_banned %}
                    <td bgcolor="red">{{user.is_banned}}</td>
                {% else %}
                    <td>{{user.is_banned}}</td>
                {% endif %}
                {% if user.is_hidden %}
                    <td bgcolor="red">{{user.is_hidden}}</td>
                {% else %}
                    <td>{{user.is_hidden}}</td>
                {% endif %}
                {% if user.is_admin %}
                    <td bgcolor="red">{{user.is_admin}}</td>
                {% else %}
                    <td>{{user.is_admin}}</td>
                {% endif %}
                <td bgcolor="green" class="modify_button" style="cursor:pointer"></td>
            </tr>
            {% endfor %}
        </table>
        <div id="dialog" class="box">
            <form id="modify_dialog" action="modify" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                <input hidden type="text" name="id" value=""/>
                昵称:   <input type="text" name="name" value=""/><br />
                方向:   <input type="text" name="direction" value=""/><br />
                年级:   <input type="text" name="level" value=""/><br />
                口令:   <input type="text" name="token" value=""/><br />
                禁用:   <input type="text" name="is_banned" value=""/><br />
                隐藏:   <input type="text" name="is_hidden" value=""/><br />
                管理:   <input type="text" name="is_admin" value=""/><br />
                <input type="submit" id="submit_button" name="submit" value="修改"/><br />
            </form>
            <div align=center> <button id='close'>取消</button> </div>
        </div>
        <form align=center action="modify_config" id="modify_config_dialog" method="POST">
            开始周:<br />
            <input type="text" name="begin_week" value="{{configs.begin_week}}"/><br />
            跳过周:<br />
            <textarea style="width:300px;height:80px" name="skip_weeks" form="modify_config_dialog"/>{{configs.skip_weeks}} </textarea><br />
            <input type="submit" name="submit" value="修改"/>
        </form>
    <script>
        function open(){
            document.getElementById('modify_dialog').action = "/modify";
            var form_row = document.getElementById('modify_dialog').getElementsByTagName('input');
            for (var i = 0; i < form_row.length; i++)
            {
                form_row[i].setAttribute('value','');
            }
            document.getElementById('submit_button').setAttribute('value','修改');
            var row = this.parentNode.getElementsByTagName('td');
            for (var i = 0; i < row.length - 1; i++)
            {
                form_row[i].setAttribute('value', row[i].textContent);
            }
            var dia = document.getElementById('dialog');
            dia.style.display = 'block';
            scroll(0,0);
        }
        function add(){
            document.getElementById('modify_dialog').action = "/add";
            var form_row = document.getElementById('modify_dialog').getElementsByTagName('input');
            for (var i = 0; i < form_row.length; i++)
            {
                form_row[i].setAttribute('value','');
            }
            document.getElementById('submit_button').setAttribute('value','增加');
            var dia = document.getElementById('dialog');
            dia.style.display = 'block';
        }
        function close(){
            var dia = document.getElementById('dialog');
            dia.style.display = 'none';
        }
        var modify_buttons = document.getElementsByClassName('modify_button');
        for (var i = 0; i < modify_buttons.length; i++)
        {
            modify_buttons[i].onclick = open;
        }
        var close_button = document.getElementById('close');
        close_button.onclick = close;
        var add_button = document.getElementById('add');
        add_button.onclick = add;
        </script>
    </body>
</html>
